{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Laboratório</title>
    <link rel="icon" type="image/x-icon" href="{% static 'bootstrap/assets/logo.png' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <link href="{% static 'bootstrap/css/styles.css'%}" rel="stylesheet" /> 
</head>
<body id="page-top" class="pt-5">
    {% if messages %}
    <div class="container pt-5"></div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="/">SPPOI Tool</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
        </div>
    </nav>

    <header class="py-5" style="background-image: url('{% static 'bootstrap/assets/img/background.jpg' %}');background-size: cover; background-position: center;">
        <div class="container">
            <button class="btn btn-primary btn-voltar mb-4" onclick="window.history.back()" style="background-color: #124559;">
                <i class="bi bi-arrow-left"></i> Voltar
            </button>
    
            <div class="bg-dark bg-opacity-50 rounded p-5 text-center">
                <h1 class="display-4 text-white fw-bold">Laboratório</h1>
            </div>
        </div>
    </header>   

    <section class="container my-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="fw-bold">Projetos Registrados</h2>
            <button class="btn btn-primary rounded-pill px-4" 
                    data-bs-toggle="modal" 
                    data-bs-target="#feedbackModal"
                    onclick="setupModal('create')"
                    style="background-color: #124559;">
                <i class="bi bi-plus-circle me-2" style="background-color: #124559;"></i> Novo Projeto
            </button>
        </div>
        
        <div class="row g-4">
            {% for x in project %}
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title">{{ x.nome }}</h5>
                            <p class="card-text">{{ x.criado_em|date:"d \d\e F \d\e Y, H:i" }}</p>
                            <p> {{x.session_key}}</p>
                        </div>
                        <div class="d-flex gap-2 mt-3 justify-content-center flex-wrap">
                            <a class="btn btn-outline-primary btn-sm" href="{% url 'render_project' id=x.id%}"> 
                                <i class="bi bi-eye me-1"></i> Visualizar
                            </a>
                            <button type="button"
                                    class="btn btn-outline-primary btn-sm"
                                    onclick="setupModal('edit', '{{ x.id }}', '{{ x.nome|escapejs }}')"
                                    data-bs-toggle="modal"
                                    data-bs-target="#feedbackModal">
                                <i class="bi bi-pencil me-2"></i> Editar
                            </button>
                            
                            <form method="POST" action="{% url 'delete_project' id=x.id %}" style="display: inline;" onsubmit="return confirm('Tem certeza que deseja deletar este Projeto?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm">
                                    <i class="bi bi-trash me-1"></i> Deletar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">&copy; UFG - SPPOI Tool 2025. Todos os direitos reservados.</div>
                <a href="#!">Privacidade</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">Termos</a>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-4" style="background-color: #124559;">
                    <h5 class="modal-title font-alt text-white" style="background-color: #124559;" id="feedbackModalLabel">Crie um novo Projeto</h5>
                    <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body border-0 p-4">
                    <form id="projectForm" method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input name="project_name" class="form-control" id="name" type="text" placeholder="Digite o nome" required/>
                            <label for="name">Nome</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary rounded-pill btn-lg" style="background-color: #124559;" id="submitButton" type="submit">Criar</button>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
    <script>
        function setupModal(mode, id = null, nome = '') {
            const form = document.getElementById('projectForm');
            const title = document.getElementById('feedbackModalLabel');
            const nameInput = document.getElementById('name');
            const submitButton = document.getElementById('submitButton');

            if (mode === 'create') {
                title.innerText = 'Crie um novo Projeto';
                form.action = '{% url "register_project" %}';
                nameInput.value = '';
                submitButton.innerText = 'Criar';
            } else if (mode === 'edit') {   
                title.innerText = 'Editar Projeto';
                form.action = `/lab/project/${id}/update/`;
                nameInput.value = nome;
                submitButton.innerText = 'Atualizar';
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'bootstrap/js/scripts.js'%}"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>