{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Edição de Sistema</title>
    <link rel="icon" type="image/x-icon" href="{% static 'bootstrap/assets/logo.png' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="{% static 'bootstrap/css/styles.css'%}" rel="stylesheet" /> 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body id="page-top" class="pt-5"> 
    {% if messages %}
    <div class="container mt-4">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="{% url 'render_lab' %}">SPPOI Tool</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
        </div>
    </nav>
    <header class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
        <div class="container w-75">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card shadow p-4">
                        <div class="card-body">
                            <div class="container">
                                <button class="btn btn-primary btn-voltar mb-4" onclick="window.history.back()" style="background-color: #124559;">
                                    <i class="bi bi-arrow-left"></i> Voltar
                                </button>
                            </div>
                            <h3 class="card-title mb-3 text-center">Atualize os dados</h3>
                            <p class="text-center mb-4">Modifique os campos abaixo.</p>
                            <form action="{% url 'update_systemData' id=project.id idSystem=system.id%}" novalidate method="post">
                            {% csrf_token %}

                                <div class="col-md-12 mb-3">
                                    <input class="form-control" type="text" value="{{system.nome}}" name="name" id="name" placeholder="Nome do sistema" required>
                                    <div class="invalid-feedback">Este campo é obrigatório.</div>
                                </div>
    
                                <div class="col-md-12 mb-3">
                                    <textarea class="form-control" name="description" value="{{system.descricao}}" placeholder="Descrição" rows="4" cols="50">{{system.descricao}}</textarea>
                                </div>
    
                                <div class="col-md-12 mb-3">
                                    <select name="type" id="type" class="form-select" required onchange="toggleOtherField(this)">
                                        <option selected value="{{ system.tipo }}">{{ system.tipo }}</option>

                                        {% if system.tipo != "API Gateway" %}
                                        <option value="API Gateway">API Gateway</option>
                                        {% endif %}

                                        {% if system.tipo != "BPM - Business Process Management" %}
                                        <option value="BPM - Business Process Management">BPM - Business Process Management</option>
                                        {% endif %}

                                        {% if system.tipo != "CMS - Content Management System" %}
                                        <option value="CMS - Content Management System">CMS - Content Management System</option>
                                        {% endif %}

                                        {% if system.tipo != "CRM - Customer Relationship Management" %}
                                        <option value="CRM - Customer Relationship Management">CRM - Customer Relationship Management</option>
                                        {% endif %}

                                        {% if system.tipo != "DAS - Data Analytics System" %}
                                        <option value="DAS - Data Analytics System">DAS - Data Analytics System</option>
                                        {% endif %}

                                        {% if system.tipo != "DMS - Document Management System" %}
                                        <option value="DMS - Document Management System">DMS - Document Management System</option>
                                        {% endif %}

                                        {% if system.tipo != "E-commerce" %}
                                        <option value="E-commerce">E-commerce</option>
                                        {% endif %}

                                        {% if system.tipo != "ERP - Enterprise Resource Planning" %}
                                        <option value="ERP - Enterprise Resource Planning">ERP - Enterprise Resource Planning</option>
                                        {% endif %}

                                        {% if system.tipo != "Gateway de pagamentos" %}
                                        <option value="Gateway de pagamentos">Gateway de pagamentos</option>
                                        {% endif %}

                                        {% if system.tipo != "HCM - Human Capital Management" %}
                                        <option value="HCM - Human Capital Management">HCM - Human Capital Management</option>
                                        {% endif %}

                                        {% if system.tipo != "IAM - Identity and Access Management" %}
                                        <option value="IAM - Identity and Access Management">IAM - Identity and Access Management</option>
                                        {% endif %}

                                        {% if system.tipo != "IoT Platform" %}
                                        <option value="IoT Platform">IoT Platform</option>
                                        {% endif %}

                                        {% if system.tipo != "LMS - Learning Management System" %}
                                        <option value="LMS - Learning Management System">LMS - Learning Management System</option>
                                        {% endif %}

                                        {% if system.tipo != "MDM - Master Data Management" %}
                                        <option value="MDM - Master Data Management">MDM - Master Data Management</option>
                                        {% endif %}

                                        {% if system.tipo != "MES - Manufacturing Execution System" %}
                                        <option value="MES - Manufacturing Execution System">MES - Manufacturing Execution System</option>
                                        {% endif %}

                                        {% if system.tipo != "Mobile Backend" %}
                                        <option value="Mobile Backend">Mobile Backend</option>
                                        {% endif %}

                                        {% if system.tipo != "SaaS - Software as a Service" %}
                                        <option value="SaaS - Software as a Service">SaaS - Software as a Service</option>
                                        {% endif %}

                                        {% if system.tipo != "SCADA - Supervisory Control and Data Acquisition" %}
                                        <option value="SCADA - Supervisory Control and Data Acquisition">SCADA - Supervisory Control and Data Acquisition</option>
                                        {% endif %}

                                        {% if system.tipo != "SCM - Supply Chain Management" %}
                                        <option value="SCM - Supply Chain Management">SCM - Supply Chain Management</option>
                                        {% endif %}

                                        {% if system.tipo != "SIEM - Security Information and Event Management" %}
                                        <option value="SIEM - Security Information and Event Management">SIEM - Security Information and Event Management</option>
                                        {% endif %}

                                        {% if system.tipo != "WMS - Warehouse Management System" %}
                                        <option value="WMS - Warehouse Management System">WMS - Warehouse Management System</option>
                                        {% endif %}

                                        {% if system.tipo != "BI - Business Intelligence" %}
                                        <option value="BI - Business Intelligence">BI - Business Intelligence</option>
                                        {% endif %}

                                        {% if system.tipo != "Outro" %}
                                        <option value="Outro">Outro</option>
                                        {% endif %}
                                    </select>
                                    <div class="invalid-feedback">Este campo é obrigatório.</div>
                                </div>

                                <div class="col-md-12 mb-3" id="otherTypeContainer" style="display:none;">
                                    <input type="text" name="type" id="otherType" class="form-control" placeholder="Descreva o tipo do sistema" required>
                                    <div class="invalid-feedback">Este campo é obrigatório.</div>
                                </div>

                                
                                <div class="col-md-12 mb-3">
                                    <input class="form-control" type="text" value="{{system.versao}}" name="version" placeholder="Versão">
                                </div>
    
                                <div class="col-md-12 mb-3">
                                    <textarea class="form-control" value="{{system.funcionalidade_principal}}" name="main_funcionality" placeholder="Funcionalidade principal" rows="4" cols="50">{{system.funcionalidade_principal}}</textarea>
                                </div>
    
                                <div class="col-md-12 mb-3">
                                    <label for="protocolosSuportados" class="form-label">Protocolos Suportados</label>
                                    <select class="form-select" id="protocolosSuportados" name="protocolos[]" multiple required style="width: 100%">
                                        <option value="amqp" {% if "amqp" in system.protocolos_suportados %}selected{% endif %}>AMQP</option>
                                        <option value="coap" {% if "coap" in system.protocolos_suportados %}selected{% endif %}>CoAP</option>
                                        <option value="ftp" {% if "ftp" in system.protocolos_suportados %}selected{% endif %}>FTP</option>
                                        <option value="ftps" {% if "ftps" in system.protocolos_suportados %}selected{% endif %}>FTPS</option>
                                        <option value="graphql" {% if "graphql" in system.protocolos_suportados %}selected{% endif %}>GraphQL</option>
                                        <option value="grpc" {% if "grpc" in system.protocolos_suportados %}selected{% endif %}>gRPC</option>
                                        <option value="http" {% if "http" in system.protocolos_suportados %}selected{% endif %}>HTTP</option>
                                        <option value="https" {% if "https" in system.protocolos_suportados %}selected{% endif %}>HTTPS</option>
                                        <option value="kafka" {% if "kafka" in system.protocolos_suportados %}selected{% endif %}>Kafka</option>
                                        <option value="ldap" {% if "ldap" in system.protocolos_suportados %}selected{% endif %}>LDAP</option>
                                        <option value="modbus" {% if "modbus" in system.protocolos_suportados %}selected{% endif %}>Modbus</option>
                                        <option value="mqtt" {% if "mqtt" in system.protocolos_suportados %}selected{% endif %}>MQTT</option>
                                        <option value="odata" {% if "odata" in system.protocolos_suportados %}selected{% endif %}>OData</option>
                                        <option value="rest" {% if "rest" in system.protocolos_suportados %}selected{% endif %}>REST</option>
                                        <option value="scp" {% if "scp" in system.protocolos_suportados %}selected{% endif %}>SCP</option>
                                        <option value="sftp" {% if "sftp" in system.protocolos_suportados %}selected{% endif %}>SFTP</option>
                                        <option value="snmp" {% if "snmp" in system.protocolos_suportados %}selected{% endif %}>SNMP</option>
                                        <option value="soap" {% if "soap" in system.protocolos_suportados %}selected{% endif %}>SOAP (via HTTP)</option>
                                        <option value="websockets" {% if "websockets" in system.protocolos_suportados %}selected{% endif %}>WebSockets</option>
                                    </select>
                                    <div class="invalid-feedback">Este campo é obrigatório.</div>
                                </div>

                                
                                <div class="col-md-12 mb-4">
                                    <label for="data_manipulation_format" class="form-label">Capacidades de manipulação de dados</label>
                                    <select class="form-select" id="data_manipulation_format" name="data_manipulation_format[]" multiple required style="width: 100%">
                                        <option value="avro" {% if "avro" in system.capacidades_dados %}selected{% endif %}>Apache Avro</option>
                                        <option value="orc" {% if "orc" in system.capacidades_dados %}selected{% endif %}>Apache ORC</option>
                                        <option value="parquet" {% if "parquet" in system.capacidades_dados %}selected{% endif %}>Apache Parquet</option>
                                        <option value="bson" {% if "bson" in system.capacidades_dados %}selected{% endif %}>BSON (Binary JSON)</option>
                                        <option value="csv" {% if "csv" in system.capacidades_dados %}selected{% endif %}>CSV</option>
                                        <option value="hdf5" {% if "hdf5" in system.capacidades_dados %}selected{% endif %}>HDF5 (Hierarchical Data Format)</option>
                                        <option value="html" {% if "html" in system.capacidades_dados %}selected{% endif %}>HTML</option>
                                        <option value="ini" {% if "ini" in system.capacidades_dados %}selected{% endif %}>INI</option>
                                        <option value="json" {% if "json" in system.capacidades_dados %}selected{% endif %}>JSON</option>
                                        <option value="log" {% if "log" in system.capacidades_dados %}selected{% endif %}>Arquivo de log (.log)</option>
                                        <option value="markdown" {% if "markdown" in system.capacidades_dados %}selected{% endif %}>Markdown</option>
                                        <option value="mat" {% if "mat" in system.capacidades_dados %}selected{% endif %}>MATLAB .mat</option>
                                        <option value="msgpack" {% if "msgpack" in system.capacidades_dados %}selected{% endif %}>MessagePack</option>
                                        <option value="ndjson" {% if "ndjson" in system.capacidades_dados %}selected{% endif %}>NDJSON (Newline-delimited JSON)</option>
                                        <option value="netcdf" {% if "netcdf" in system.capacidades_dados %}selected{% endif %}>NetCDF</option>
                                        <option value="ods" {% if "ods" in system.capacidades_dados %}selected{% endif %}>OpenDocument Spreadsheet (ODS)</option>
                                        <option value="pdf" {% if "pdf" in system.capacidades_dados %}selected{% endif %}>PDF (para relatórios)</option>
                                        <option value="properties" {% if "properties" in system.capacidades_dados %}selected{% endif %}>Java .properties</option>
                                        <option value="protobuf" {% if "protobuf" in system.capacidades_dados %}selected{% endif %}>Protobuf (Protocol Buffers)</option>
                                        <option value="rdf" {% if "rdf" in system.capacidades_dados %}selected{% endif %}>RDF (Resource Description Framework)</option>
                                        <option value="toml" {% if "toml" in system.capacidades_dados %}selected{% endif %}>TOML</option>
                                        <option value="tsv" {% if "tsv" in system.capacidades_dados %}selected{% endif %}>TSV (Tab-Separated Values)</option>
                                        <option value="ttl" {% if "ttl" in system.capacidades_dados %}selected{% endif %}>Turtle (RDF serialization)</option>
                                        <option value="xlsx" {% if "xlsx" in system.capacidades_dados %}selected{% endif %}>Excel (XLSX)</option>
                                        <option value="xml" {% if "xml" in system.capacidades_dados %}selected{% endif %}>XML</option>
                                        <option value="yaml" {% if "yaml" in system.capacidades_dados %}selected{% endif %}>YAML</option>
                                    </select>
                                    <div class="invalid-feedback">Este campo é obrigatório.</div>
                                </div>
                               

                                <div class="col-md-12 mb-4">
                                    <label for="authentication_requirements" class="form-label">Requisitos de Autenticação</label>
                                    <select class="form-select" id="authentication_requirements" name="authentication_requirements[]" multiple required style="width: 100%">
                                        <option value="active_directory" {% if "active_directory" in system.requisitos_autenticacao %}selected{% endif %}>Active Directory</option>
                                        <option value="api_keys" {% if "api_keys" in system.requisitos_autenticacao %}selected{% endif %}>API Keys</option>
                                        <option value="basic_auth" {% if "basic_auth" in system.requisitos_autenticacao %}selected{% endif %}>Basic Auth</option>
                                        <option value="bearer_token" {% if "bearer_token" in system.requisitos_autenticacao %}selected{% endif %}>Bearer Token</option>
                                        <option value="biometric" {% if "biometric" in system.requisitos_autenticacao %}selected{% endif %}>Biometria (Face ID, impressão digital)</option>
                                        <option value="client_certificate" {% if "client_certificate" in system.requisitos_autenticacao %}selected{% endif %}>Client Certificate</option>
                                        <option value="device_token" {% if "device_token" in system.requisitos_autenticacao %}selected{% endif %}>Device Token</option>
                                        <option value="fingerprint" {% if "fingerprint" in system.requisitos_autenticacao %}selected{% endif %}>Digital Fingerprint</option>
                                        <option value="hardware_token" {% if "hardware_token" in system.requisitos_autenticacao %}selected{% endif %}>Hardware Token (e.g., YubiKey)</option>
                                        <option value="jwt" {% if "jwt" in system.requisitos_autenticacao %}selected{% endif %}>JWT (JSON Web Token)</option>
                                        <option value="kerberos" {% if "kerberos" in system.requisitos_autenticacao %}selected{% endif %}>Kerberos</option>
                                        <option value="ldap" {% if "ldap" in system.requisitos_autenticacao %}selected{% endif %}>LDAP (Lightweight Directory Access Protocol)</option>
                                        <option value="mfa" {% if "mfa" in system.requisitos_autenticacao %}selected{% endif %}>MFA (Multi-Factor Authentication)</option>
                                        <option value="mutual_tls" {% if "mutual_tls" in system.requisitos_autenticacao %}selected{% endif %}>Mutual TLS (mTLS)</option>
                                        <option value="oauth" {% if "oauth" in system.requisitos_autenticacao %}selected{% endif %}>OAuth</option>
                                        <option value="openid_connect" {% if "openid_connect" in system.requisitos_autenticacao %}selected{% endif %}>OpenID Connect</option>
                                        <option value="otp" {% if "otp" in system.requisitos_autenticacao %}selected{% endif %}>OTP (One-Time Password)</option>
                                        <option value="saml" {% if "saml" in system.requisitos_autenticacao %}selected{% endif %}>SAML (Security Assertion Markup Language)</option>
                                        <option value="session_cookie" {% if "session_cookie" in system.requisitos_autenticacao %}selected{% endif %}>Session Cookie</option>
                                    </select>
                                    <div class="invalid-feedback">Este campo é obrigatório.</div>
                                </div>
                                
                                <div>
                                    <div class="col-md-12 mb-3">Informações do responsável</div>

                                    <div class="col-md-12 mb-3">
                                        <input class="form-control" value="{{system.email_responsavel}}" type="email" name="responsible_mail" placeholder="E-mail" required>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <input class="form-control" value="{{system.contato_responsavel}}" type="tel" name="responsible_phone" placeholder="Telefone">
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <input class="form-control" value="{{system.mantenedor}}" type="text" name="maintainer" placeholder="Mantenedor do sistema">
                                    </div>
                                </div>
                                                          

                                <div class="d-grid">
                                    <button 
                                        value="create_system"
                                        id="submit" 
                                        type="submit" 
                                        class="btn btn-lg rounded-pill text-white px-4" 
                                        value="update"
                                        style="background-color: #124559;">
                                        Editar Sistema
                                    </button>
                                </div>
                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>    
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">&copy; UFG - SPPOI Tool 2025. Todos os direitos reservados.</div>
                <a href="#!">Privacidade</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">Termos</a>
            </div>
        </div>
    </footer>
    <script src="{% static 'bootstrap/js/registerSystem.js'%}"></script>
    <script>
        $('#protocolosSuportados').select2({
            placeholder: "Selecione os protocolos suportados",
            dropdownAutoWidth: true,
            width: 'resolve'
        });
        $('#data_manipulation_format').select2({
            placeholder: "Selecione os formatos suportados",
            dropdownAutoWidth: true,
            width: 'resolve'
        });
        $('#authentication_requirements').select2({
            placeholder: "Selecione os requisitos suportados",
            dropdownAutoWidth: true,
            width: 'resolve'
        });

        function toggleOtherField(select) {
            const otherField = document.getElementById('otherTypeContainer');
            if (select.value === "Outro") {
                otherField.style.display = 'block';
                document.getElementById('otherType').setAttribute('required', 'required');
            } else {
                otherField.style.display = 'none';
                document.getElementById('otherType').removeAttribute('required');
            }
        }
        
        document.getElementById("submit").addEventListener("click", function (event) {
            const nome = document.getElementById("name");
            const tipo = document.getElementById("type");
            const outrosTipo = document.getElementById("otherType");
            const outrosTipoContainer = document.getElementById("otherTypeContainer");
            const protocolos = $('#protocolosSuportados').val();
            const data_manipulation_format = $('#data_manipulation_format').val();
            const authentication_requirements = $('#authentication_requirements').val();
            
        
            let isValid = true;
        
            nome.classList.remove("is-invalid");
            tipo.classList.remove("is-invalid");
            outrosTipo?.classList.remove("is-invalid");
            document.getElementById("protocolosSuportados").classList.remove("is-invalid");
            document.getElementById("data_manipulation_format").classList.remove("is-invalid");
            document.getElementById("authentication_requirements").classList.remove("is-invalid");
        
            if (!nome.value.trim()) {
                nome.classList.add("is-invalid");
                isValid = false;
            }
        
            if (!tipo.value && outrosTipoContainer.style.display === 'none') {
                tipo.classList.add("is-invalid");
                isValid = false;
            }
        
            if (outrosTipoContainer.style.display !== 'none' && !outrosTipo.value.trim()) {
                outrosTipo.classList.add("is-invalid");
                isValid = false;
            }
        
            if (!protocolos || protocolos.length === 0) {
                document.getElementById("protocolosSuportados").classList.add("is-invalid");
                isValid = false;
            }

            if (!data_manipulation_format || data_manipulation_format.length === 0) {
                document.getElementById("data_manipulation_format").classList.add("is-invalid");
                isValid = false;
            }

            if (!authentication_requirements || authentication_requirements.length === 0) {
                document.getElementById("authentication_requirements").classList.add("is-invalid");
                isValid = false;
            }
            
            if (!isValid) {
                event.preventDefault(); 
            }
        });
    </script>
</body>
</html>
